@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slideRight {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0.5px);
  }
}

.slideRight:hover {
  animation: slideRight 1s;
  transform: translateX(0.5px);
}
.slideRight {
  position: relative;
  transition: transform 0.5s ease-out;
}
